*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    padding: 40px 20px;
    background-color: rgb(236, 66, 151);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.logo{
    font-size: 30px;
    color: rgb(2, 12, 12);
    font-weight: 800;
    text-transform: uppercase;
}*/

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(6, 10, 14);
    display: block;
}

.menu .navbar ul li a:hover{
    color: rgb(240, 234, 238);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.text{
    margin: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(214, 24, 129);
    font-size: 40px;
}

.nosotros{
    justify-content: center;
    gap: 20px;
}
.text-nosotros{
    text-align: center;
    display: flex;
}

.descripcion{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 30px;
    margin: 100px;
}

.servicios{
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tarjeta-servicio{
    /*background-color: rgb(230, 153, 200);*/
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.tarjeta-servicio img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-servicios{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 20px;
    margin: 10px;
}

.des-servicios{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin: 10px;
}