*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    padding: 40px 20px;
    background-color: rgb(236, 66, 151);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.logo{
    font-size: 30px;
    color: rgb(2, 12, 12);
    font-weight: 800;
    text-transform: uppercase;
}*/

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(6, 10, 14);
    display: block;
}

.menu .navbar ul li a:hover{
    color: rgb(240, 234, 238);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.text{
    margin: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(214, 24, 129);
    font-size: 40px;
}

.nosotros{
    justify-content: center;
    gap: 20px;
}
.text-nosotros{
    text-align: center;
    display: flex;
}

.descripcion{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 30px;
    margin: 100px;
}

.servicios{
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tarjeta-servicio{
    /*background-color: rgb(230, 153, 200);*/
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.tarjeta-servicio img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-servicios{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 20px;
    margin: 10px;
}

.des-servicios{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin: 10px;
}

.box-container{
    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 10px;
    margin: 10px;
    gap: 100px;
    justify-content: center;
}

.box-container img{
     width: 100%;
    height: 80px;
    object-fit: cover;
}


.box-container h4{
     text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    margin: 10px;
}

.encabezado-01{
    text-align: center;
    margin: 20px ;
    color: rgba(204, 33, 104, 0.959);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.precio{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 15px;
    margin: 10px;
    color: rgb(231, 30, 30);
}
.agregar-carrito{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 10px;
    margin: 10px;
}
.box-pl-container{
    display: flex;
    align-items: center;
    gap: 100px;
     justify-content: center;

}
.box-pl-container img{
     width: 100%;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
}

.box-pl-container h4 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    margin: 10px;
}


.encabezado-02{
    text-align: center;
    margin: 20px ;
    color: rgba(204, 33, 104, 0.959);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacto{
    display: flex;
    background-color: rgb(233, 172, 215);
    align-items: flex-start;
    gap: 0;
    margin: 0;
    padding: 0;
}

.formulario{
    /*text-align: left;*/
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: 70%;
}

.opciones{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(250, 5, 209);
    font-size: 25px;
    margin-block-end: 10px;
    display: flex;
}

.tarjeta-redes{
    width: 30%;
    border-radius: 5px;
}

.contenedor-redes{
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.tarjeta-redes img{
    width: 60px;
    height: 60px;
}
.map-container{
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.user{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: large;
    margin: 20px;
}